<!DOCTYPE html>
<html>
<head>
  <title>Swedish Chef's Recipes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %> <!-- Ensure this line is here -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= yield %>
</body>
</html>
