<!DOCTYPE html>
<html>
<head>
  <title>Swedish Chef's Recipes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Swedish Chef's Recipes</a>
      <div class="navbar-expand" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/chat">Chat With Chef<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/about">About The Site<span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </nav>
    <!-- End of Navbar -->

  <div class="container mt-5">
    <h1>Swedish Chef's Recipes</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="recipe-search" placeholder="Search for recipes. E.g Give me something sweet that takes less than 40 minutes to prepare">
      <div class="input-group-append">
        <button id="search-button" class="btn btn-outline-secondary" type="button" onclick="searchRecipes()">Search</button>
      </div>
    </div>
    <div id="recipes-container"></div>
  </div>

  <script>
    function searchRecipes() {
      var searchButton = document.getElementById('search-button');
      var originalButtonText = searchButton.innerHTML; // Save the original button text

      // Replace the "Search" text with a spinner and disable the button
      searchButton.innerHTML = '<div class="loader"></div>';
      searchButton.disabled = true;

      var query = document.getElementById('recipe-search').value;
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/search_recipes?query=' + query, true);
      xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>');

      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          searchButton.innerHTML = originalButtonText;
          searchButton.disabled = false;
          document.getElementById('recipes-container').innerHTML = xhr.responseText;
        }
      };
      xhr.send();
    }
  </script>

  <style>
    .loader {
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 20px; /* Smaller width */
        height: 20px; /* Smaller height */
        animation: spin 2s linear infinite;
        display: inline-block;
        vertical-align: middle;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</body>
</html>