<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Swedish Chef's Recipes</a>
  <div class="navbar-expand" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/chat">Chat With Chef<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/about">About The Site<span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>
<!-- End of Navbar -->
<div style="display:flex; justify-content:center; flex-direction: column">
<h1 style="text-align:center">Bork Bork Bork! Velcume-a tu my recipe-a vebsite-a!</h1>
<%= image_tag("swedish_chef_hero.png", class: "chef-hero-pic", style: "align-self: center;") %>
<h2 style="text-align:center">Cume-a tell me-a vhat yuoo wann ann I geefe-a yuoo recippes</h2>
<p style="text-align:center">Iff yuoo lug in es me-a, yuoo get a preese-a...</p>
<% if user_signed_in? && current_user.email == "swedish_chef@gmail.com" %>
<p style="text-align:center; font-size: 24px; color: green;">
  <span>H</span><span>U</span><span>R</span><span>D</span><span>Y</span> <span>G</span><span>U</span><span>R</span><span>D</span><span>Y</span>! <span>Y</span><span>u</span><span>o</span><span>o</span><span>'</span><span>r</span><span>e</span><span>-</span><span>a</span> <span>a</span> <span>s</span><span>o</span><span>o</span><span>p</span><span>a</span><span>i</span><span>r</span> <span>s</span><span>m</span><span>u</span><span>r</span><span>t</span><span>a</span> <span>c</span><span>u</span><span>u</span><span>k</span><span>e</span><span>e</span>! <span>H</span><span>e</span><span>r</span><span>e</span><span>-</span><span>a</span> <span>a</span> <span>l</span><span>e</span><span>e</span><span>t</span><span>t</span><span>l</span><span>e</span><span>-</span><span>a</span> <span>S</span><span>v</span><span>e</span><span>d</span><span>e</span><span>e</span><span>s</span><span>h</span> <span>m</span><span>e</span><span>e</span><span>t</span><span>b</span><span>e</span><span>l</span><span>l</span><span>e</span><span>-</span><span>a</span> <span>j</span><span>o</span><span>o</span><span>s</span><span>t</span> <span>f</span><span>u</span><span>r</span> <span>y</span><span>u</span><span>o</span><span>o</span>:</p><%= image_tag("meatball.png", style: "align-self: center; width: 100px; height: 100px") %>
<% end %>
<div style="align-self: center">
  <a href="/users/sign_in" class="btn btn-info" style="max-width: 200px; align-self: center">Log in</a>
  <a href="/chat" class="btn btn-primary" style="max-width: 200px; align-self: center">Chat wit a me</a>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
</div>
</div>

<style>
  p span:nth-child(odd) {
    color: blue; /* Adjust the color to match the Swedish flag blue */
  }
  p span:nth-child(even) {
    color: gold; /* Adjust the color to match the Swedish flag yellow */
    font-weight: bold;
  }
</style>