<%= image_tag("swedish_chef.png", class: "chef-profile-pic") %>
<%= @user_response %>

<% @recipes.each do |recipe| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.name %></h5>
      <p class="card-text"><strong>Prepare Time:</strong> <%= recipe.prepare_time %> minutes</p>
      <p class="card-text"><strong>Cook Time:</strong> <%= recipe.cook_time %> minutes</p>
      <p class="card-text"><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
      <p class="card-text"><strong>Instructions:</strong> <%= recipe.instructions %></p>
    </div>
  </div>
<% end %>
