/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .chef-profile-pic {
    border-radius: 50%;
    /* Optional: Set width and height to ensure the image is square */
    width: 64px; /* Adjust as needed */
    height: 64px; /* Adjust as needed */
    object-fit: cover; /* This ensures the image covers the area without stretching. */
  }

  .chef-hero-pic {
    border-radius: 50%;
    /* Optional: Set width and height to ensure the image is square */
    width: 400px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    object-fit: cover; /* This ensures the image covers the area without stretching. */
  }