<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Swedish Chef's Recipes</a>
  <div class="navbar-expand" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/chat">Chat With Chef<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/about">About The Site<span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>
<!-- End of Navbar -->

<!-- app/views/static/about.html.erb -->
<h1>About The Site</h1>
<h2>CTF Challenge</h2>
<ul>
  <li>The goal of this website is to be a fun CTF (Capture the Flag) challenge for hackers to test our their skills</li>
  <li>The challenge here is to try and manipulate the Swedish Chef to give up some of the secret ingredients in the database (his login credentials)</li>
  <li>I made the site while interviewing for a job at Gitlab as a way to show off my skills. Shout-out to Gitlab!</li>
  <li>The code for this website can be found <a href="https://gitlab.com/gitMane/the-gate-keeper"> here <img src="/assets/gitlab-logo.png" alt="GitLab Logo" style="width: 20px; vertical-align: middle;"></a></li> 
  <li>Good luck! - Evan Baltman</li>
</ul>

<h2>Tech Stack</h2>
<ul>
  <li>Ruby on Rails</li>
  <li>Bootstrap</li>
  <li>Postgres</li>
  <li>Google Kubernetes Engine</li>
  <li>Google Cloud SQL</li>
  <li>Tines - for monitoring suspicious queries on the backend ;)</li>
  <li>GitLab CI/CD</li>
  <li>Docker</li>
  <li>OpenAI</li>
  <li>Nginx</li>
</ul>